<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Sponsorship domain unit tests">
            <directory>module/Sponsorship/test/unit/Domain</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">module/Sponsorship/src/Domain</directory>
            <exclude>
                <directory suffix=".php">module/Sponsorship/src/Domain/Command</directory>
                <directory suffix=".php">module/Sponsorship/src/Domain/Event</directory>
            </exclude>
        </whitelist>

    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>